<ion-menu [content]="content" side="right">
    <ion-list>
      <button class="side-menu-button return" menuToggle>
      <ion-icon name="ios-arrow-dropright-outline"></ion-icon>
      </button>
    </ion-list>
    <ion-list>
      <button (click)="scrollToPanel(1)" menuToggle>About Us</button>
    </ion-list>
    <ion-list>
      <button (click)="scrollToPanel(2)" menuToggle>Why tosJis</button>
    </ion-list>
    <ion-list>
      <button (click)="scrollToPanel(3)" menuToggle>Features</button>
    </ion-list>
    <ion-list>
      <button (click)="scrollToPanel(4)" menuToggle>Vision/Mission</button>
    </ion-list>
    <ion-list>
      <button (click)="scrollToPanel(5)" menuToggle>Our Team</button>
    </ion-list>
    <ion-list>
      <button (click)="scrollToPanel(6)" menuToggle>Our Partners</button>
    </ion-list>
    <ion-list>
      <button (click)="scrollToPanel(7)" menuToggle>Contact</button>
    </ion-list>
</ion-menu>

<ion-header no-border>
    <div class="header-logo">
      <img src="/assets/imgs/logo.png" alt="LOGO">
      <label>tosJis</label>
    </div>
    <button class="side-menu-button" menuToggle *ngIf="is_viewing_mobile==true">
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="tabs" *ngIf="is_viewing_mobile==false">
      <button (click)="scrollToPanel(1)">About Us</button>
      <button (click)="scrollToPanel(2)">Why tosJis</button>
      <button (click)="scrollToPanel(3)">Features</button>
      <button (click)="scrollToPanel(4)">Vision/Mission</button>
      <button (click)="scrollToPanel(5)">Our Team</button>
      <button (click)="scrollToPanel(6)">Our Partners</button>
      <button (click)="scrollToPanel(7)">Contact</button>
    </div>
</ion-header>

<ion-content>



  <div class="intro">
    <div class="intro-logo center-vertical">
      <img src="/assets/imgs/main-logo.png" alt="LOGO">
    </div>
    <div class="intro-text center-vertical">
      <div #panel1 class="intro-title">
        tosJis
      </div>
      <div class="intro-desc">
        tosJis app is on its way to remake the world!!! We are the future of public transportation, providing services that ensure the best experience of your modern mobility. With a platform for smart transportation, tosJis decodes all solutions in Public Transportation including future of transport, road safety, smart cities, and environment.
      </div>
      <div class="intro-button">
        <button ion-button round color="secondary">Read more</button>
      </div>
    </div>
  </div>



  <div class="why center-vertical center-horizontal">
    <div class="inner-why center-vertical">
      <div style="font-size:30px;">WHY</div>
      <div style="font-size:50px;">tosJis?</div>
      <div #panel2  style="font-size:17px;">We are the first app in Cambodia which centralises all the best methods for public transportation. We are ready to minimize traffic accidents & congestion, reduce air pollution, benefit community, increase fuel efficiency, elevate mobility, save money, promote a healthier lifestyle, and maximize your time. With tosJis, your expense, time, incidents, health, and will for a better world is in your hand. What is holding you back?</div>
    </div>
  </div>




  <div class="features">
    <div class="title-label">
      Features
    </div>
    <div class="features-list">
      <div class="feature-individual">
        <img class="round-img" src="/assets/imgs/map.png" alt="LOGO">
        <div #panel3 class="header">Information</div>
        <div>Locations of bus stops</div>
        <div>Transportation methods</div>
        <div>Guidance to the right bus stops</div>
      </div>
      <div class="feature-individual">
        <img class="round-img" src="/assets/imgs/goat.jpeg" alt="LOGO">
        <div class="header">Monitor</div>
        <div>Bus tracking system</div>
        <div>Arrival time estimation</div>
      </div>
      <div class="feature-individual">
        <img class="round-img" src="/assets/imgs/direction.png" alt="LOGO">
        <div class="header">Direction</div>
        <div>Route suggestions</div>
        <div>Ride-hailing services</div>
      </div>
    </div>
  </div>



  <div class="mv">
    <div class="logo center-horizontal">
      <div class="">
        <img src="/assets/imgs/logo-white.png" alt="LOGO">
      </div>
    </div>
    <div class="vision">
      <div class="header">
        Vision
      </div>
      <div class="desc">
        Ensure mobility of the people inside the city by 2023.
      </div>
    </div>
    <div class="mission">
      <div class="header">
        Mission
      </div>
      <div #panel4 class="desc">
        Accelerate growth & ease the frustration of public transportation experience through intergration of transportation options, tracking system, and easier access.
      </div>
    </div>
  </div>



  <div class="team">
    <div class="title-label">
      Our Team
    </div>
    <div class="team-list center-horizontal">

      <div class="individual center-horizontal">
        <img class="round-img-small" src="/assets/imgs/reach.jpg" alt="LOGO">
        <div class="desc center-vertical">
          <div>Mony Reach Hong</div>
          <div>Chief Executive Officer</div>
        </div>
      </div>
      <div class="individual center-horizontal">
        <img class="round-img-small" src="/assets/imgs/david.jpg" alt="LOGO">
        <div class="desc center-vertical">
          <div>Panha David Sok</div>
          <div>Chief Operation Officer</div>
        </div>
      </div>
      <div class="individual center-horizontal">
        <img class="round-img-small" src="/assets/imgs/meily.jpg" alt="LOGO">
        <div class="desc center-vertical">
          <div>Meily Meng</div>
          <div>Cief Financial Officer</div>
        </div>
      </div>
      <div class="individual center-horizontal">
        <img class="round-img-small" src="/assets/imgs/vitak.jpg" alt="LOGO">
        <div class="desc center-vertical">
          <div>Vitak Cheav</div>
          <div>Chief Marketing Officer</div>
        </div>
      </div>
      <div class="individual center-horizontal">
        <img class="round-img-small" src="/assets/imgs/senghak.jpg" alt="LOGO">
        <div class="desc center-vertical">
          <div>Por SengHak Tan</div>
          <div>Financial Asistant</div>
        </div>
      </div>
      <div #panel5 class="individual center-horizontal">
        <img class="round-img-small" src="/assets/imgs/visoth.jpg" alt="LOGO">
        <div class="desc center-vertical">
          <div>Visoth Pech</div>
          <div>Graphic Designer</div>
        </div>
      </div>
      <div class="individual center-horizontal">
        <ion-icon name="code-download"></ion-icon>
        <div class="desc center-vertical">
          <div>ChanVuth Chea</div>
          <div>Programmer</div>
        </div>
      </div>

    </div>
  </div>




  <div class="partners center-vertical">
    <div class="title-label">
      Partners
    </div>
    <div class="features-list center-horizontal">
      <div class="partner-individual">
        <img class="round-img" src="/assets/imgs/goat.jpeg" alt="LOGO">
        <h3 #panel6>Header</h3>
        <p>Some text</p>
      </div>
      <div class="partner-individual">
        <img class="round-img" src="/assets/imgs/goat.jpeg" alt="LOGO">
        <h3>Header</h3>
        <p>Some text</p>
      </div>
      <div class="partner-individual">
        <img class="round-img" src="/assets/imgs/goat.jpeg" alt="LOGO">
        <h3>Header</h3>
        <p>Some text</p>
      </div>
    </div>
  </div>




  <div class="contact center-vertical">
    <div class="title-label" style="color:black;">
      Contact Us
    </div>
    <div class="lower center-horizontal">
      <div class="form center-vertical">
        <ion-item>
          <ion-label floating>Full Name</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <div #panel7></div>

        <ion-item>
          <ion-textarea max="100" placeholder="Message"></ion-textarea>
        </ion-item>
      </div>
      <div class="map">

      </div>
    </div>
  </div>
  <div class="footer center-horizontal">
    <div class="footer-icons center-vertical">
      <div class="center-horizontal">
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-youtube"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-twitter"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
      </div>
      <div class = "footer-right">
        All rights reserved
      </div>
    </div>
    <div class="footer-logo">
      <img src="/assets/imgs/logo-white-crop.png" alt="LOGO">
    </div>
  </div>
</ion-content>
