page-home {

  .center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .title-label {
    font-size: 140%;
    padding: 3%;
    font-weight: bold;
    text-align: center;
  }

  .round-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  .round-img-small {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }

  ion-header {
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
  }
  ion-header .header-logo {
    display: flex;
    flex-direction: row;
    color: green;
  }
  ion-header .header-logo label {
    padding: 3px;
  }

  ion-header .header-logo img {
    width:30px;
    height:30px;
  }
  ion-header .tabs {
    display: flex;
    justify-content: flex-end;
  }
  ion-header button {
    color:green;
    background-color: transparent;
  }
  ion-header .side-menu-button {
    font-size: 130%;
    color:green;
    background-color: transparent;
  }


  .intro {
    display: flex;
    padding: 5%;
  }
  .intro .intro-logo {
    padding-right: 2%;
    width: 40%;
    max-height: 100%;
  }
  .intro .intro-logo img {
    max-height:100%;
    max-width: 100%;
    margin:auto;
  }
  .intro .intro-text {
    width: 60%;
    max-height: 100%;
  }
  .intro .intro-text .intro-title{
    font-weight: bold;
    color: green;
    font-size: 170%;
    padding-bottom: 3%;
  }
  .intro .intro-text .intro-desc{
    color: black;
    padding-bottom: 3%;
  }
  .intro .intro .intro-button {
    width: 10%;
    height: 10%;
  }


  .why {
    color: white;
    background-color: $primary;
    padding: 5%;
  }
  .why .inner-why {
    text-align: right;
    margin-right: 20%;
  }

  .features {
    text-align: center;
  }
  .features-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5%;
  }

  .feature-individual {
    font-size: 17px;
    padding: 3px;
    width: 33.33%;
  }
  .feature-individual .header {
    font-size: 16px;
    font-weight: bold;
    padding: 1%;
  }

  .mv {
    display: flex;
    text-align: center;
  }

  .mv .vision {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    background-color: $primary;
    width: 50%;
    padding-left: 2%;
    padding-right: 5%;
    text-shadow:
      -1px -1px 0 $primary,
      1px -1px 0 $primary,
      -1px 1px 0 $primary,
      1px 1px 0 $primary;
      color: white;
  }
  .mv .mission {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    background-color: $secondary;
    width: 50%;
    padding-left: 5%;
    padding-right: 2%;
    padding-bottom: 5%;
    text-shadow:
      -1px -1px 0 $secondary,
      1px -1px 0 $secondary,
      -1px 1px 0 $secondary,
      1px 1px 0 $secondary;
      color: white;
  }
  .mv .vision .header {
    font-size: 150%;
    font-weight: bold;
    padding: 5%;
  }
  .mv .mission .header {
    font-size: 150%;
    font-weight: bold;
    padding: 5%;
  }
  .mv .vision .desc {
    z-index: 1;
  }
  .mv .mission .desc {
    z-index: 1;
  }

  .mv .logo {
    z-index: 0;
    position: absolute;
    margin-left: 5px;
    width: 100%;
    height: 70%;
    padding-bottom: 10%;
    padding-right: 30%;
    padding-left: 30%;
  }

  .mv .logo img {
    margin-top: 50px;
    z-index: 0;
    margin-left: 3%;
    max-height: 90%;
    min-height: 10%;
    width: auto;
  }

  .team {
    text-align: center;
    color: $primary;
  }
  .team .team-list {
    flex-wrap: wrap;
    padding-bottom: 5%;
  }
  .team .team-list .individual {
    text-align: left;
    width: 33.33%;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
  }
  .team .team-list .individual .desc {
    padding-left: 3%;
  }

  .team .team-list .individual .desc div:first-child {
    color: black;
  }

  .partners {
    background-color: $primary;
    color: white;
    text-align: center;
  }

  .contact .lower {
    padding-bottom: 5%;
  }

  textarea {
    width: auto;
    height: 250px;
  }

  ion-textarea {
    border: 1px solid $primary;
  }

  ion-menu ion-list button {
    margin: 5% 0% 5% 10%;
    width: 80%;
    font-size: 150%;
    color:green;
    text-align: left;
    background-color: transparent;
    border-bottom: 2px solid $primary;
  }
   ion-menu ion-list .return {
     background-color: transparent;
   }
   ion-icon {
     font-size: 200%;
   }

   .footer {
     background-color: green;
     color: white;
     justify-content: space-between;
   }
   .footer-icons {
     padding: 10px;
     font-size: 120%;
   }

   .footer-icons ion-icon{
     padding-left: 7%;
   }

   .footer-right {
     padding-left: 15%;
   }
   .footer-logo {
     margin-bottom: -50px;
     height: auto;
     width: 30%;
     overflow: hidden;
   }

}
